.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-a {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(245, 245, 220, 0.557);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  background-color: rgba(245, 245, 220, 0.557);
  color: #4b1f24;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  color: rgba(245, 245, 220, 0.557);
  background-color: #4b1f24;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-a {
  color: rgba(245, 245, 220, 0.557);
  border-radius: 6px;
  border: #4b1f24 1px solid;
  box-shadow: 0px 4px 20px rgba(255, 246, 246, 0.801);
  text-shadow: 0px 4px 20px rgba(255, 246, 246, 0.801);
}
