.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 16px;
}
.dropdown-a {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #ff00e6;
  gap: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00fff7;
  box-shadow: 0px 8px 16px #ff00e6;
  z-index: 1;
  border-radius: 16px;
  margin-top: 10px;

}

.dropdown-content a {
  background-color: #00fff7;
  color: #ff00e6;
  padding: 12px 16px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  
}

.dropdown-content a:hover {
  color: #00fff7;
  background-color: #ff00e6;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown:hover .dropdown-a {
  color: #00fff7;
  background-color: #ff00e6;
  border-radius: 6px;
  border: #4b1f24 1px solid;
  box-shadow: 0px 4px 20px rgba(255, 246, 246, 0.801);
  text-shadow: 0px 4px 20px rgba(255, 246, 246, 0.801);
}
