.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.border-radius50 {
  border-radius: 50%;
}
.border-radius-5 {
  border-radius: 5px;
}
.cursor-pointer {
  cursor: pointer;
}
.padding-a {
  padding: 10px 20px;
}
