.justify-center {
  justify-content: center;
}
.justify-even {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.border-radius50 {
  border-radius: 50%;
}
.border-radius-5 {
  border-radius: 5px;
}
.cursor-pointer {
  cursor: pointer;
}
.padding-a {
  padding: 10px 20px;
}
.padding-header {
  padding: 20px;
}
.padding-20 {
  padding: 20px;
}
@media only screen and (max-width: 710px) {
  .padding-a {
    padding: 17px;
  }
}
