.glitch {
  color: #fff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #ff00ff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: glitch 1.5s infinite linear alternate-reverse;
}

.glitch::after {
  color: #00ffff;
  animation: glitch 2s infinite linear alternate-reverse;
}

@keyframes glitch {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0.6deg);
  }
  5% {
    clip: rect(55px, 9999px, 90px, 0);
    transform: skew(0.7deg);
  }
  10% {
    clip: rect(5px, 9999px, 50px, 0);
    transform: skew(0.5deg);
  }
  15% {
    clip: rect(30px, 9999px, 80px, 0);
    transform: skew(0.8deg);
  }
  20% {
    clip: rect(25px, 9999px, 10px, 0);
    transform: skew(0.3deg);
  }
  25% {
    clip: rect(50px, 9999px, 30px, 0);
    transform: skew(0.6deg);
  }
  30% {
    clip: rect(15px, 9999px, 70px, 0);
    transform: skew(0.4deg);
  }
  35% {
    clip: rect(80px, 9999px, 45px, 0);
    transform: skew(0.7deg);
  }
  40% {
    clip: rect(40px, 9999px, 10px, 0);
    transform: skew(0.5deg);
  }
  45% {
    clip: rect(90px, 9999px, 20px, 0);
    transform: skew(0.2deg);
  }
  50% {
    clip: rect(55px, 9999px, 40px, 0);
    transform: skew(0.8deg);
  }
  55% {
    clip: rect(5px, 9999px, 60px, 0);
    transform: skew(0.4deg);
  }
  60% {
    clip: rect(25px, 9999px, 80px, 0);
    transform: skew(0.6deg);
  }
  100% {
    clip: rect(15px, 9999px, 30px, 0);
    transform: skew(0.3deg);
  }
}
